<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="SecureEmailOutlookAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
   </configSections>
   <userSettings>
      <SecureEmailOutlookAddIn.Properties.Settings>
         <setting name="addInDebug" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="organizationName" serializeAs="String">
            <value>IT</value>
         </setting>
         <setting name="secureEmailSendLiteral" serializeAs="String">
            <value>[SEND SECURE]</value>
         </setting>
         <setting name="secureEmailSendEmailOnButtonClick" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="secureEmailSendConfirmation" serializeAs="String">
            <value>True</value>
         </setting>
      </SecureEmailOutlookAddIn.Properties.Settings>
   </userSettings>
   <log4net>
      <root>
         <level value="ALL"/>
         <appender-ref ref="RollingFileAppender"/>
      </root>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
         <file value="${APPDATA}\SecureEmailOutlookAddIn\SecureEmailOutlookAddIn-log.txt" />
         <appendToFile value="true" />
         <rollingStyle value="Size" />
         <maxSizeRollBackups value="5" />
         <maximumFileSize value="5MB" />
         <staticLogFileName value="true" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
         </layout>
      </appender>
      <add key="log4net.Internal.Debug" value="true" />
      <trace autoflush="true">
         <listeners>
            <add
              name="textWriterTraceListener"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="${APPDATA}\SecureEmailOutlookAddIn\appTrace.txt" />
         </listeners>
      </trace>
   </log4net>
</configuration>
